html {
    height: 100%;
}

body {
    background: url(00007c0f_big1.png) no-repeat center;
    font: normal 13px Arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="password"] {
    border-width: 0;
    display: block;
    line-height: normal;
    height: 38px;
    margin-bottom: 1px;
    padding: 0 8px;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"] {
    -ms-border-top-left-radius: 3px;
    -ms-border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

input[type="password"] {
    -ms-border-bottom-left-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type="submit"] {
    background-color: transparent;
    border: 1px solid #fff;
    color: #FFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 18px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: rgba(200, 200, 200, 0.4);
}

input[type="checkbox"] {
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
}

    input[type="checkbox"]:checked {
        background: url("Resources/Accept.png") no-repeat center center;
    }

input::-webkit-input-placeholder {
    color: #BBB;
    font-size: 15px;
}

input:focus {
    outline: 0;
}

.x-login-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 41.3%; /*for safari*/
    left: calc(50% - 338px / 2);
    left: -webkit-calc(50% - 338px / 2);
    left: -moz-calc(50% - 338px / 2);
    top: 36.3%; /*for safari*/
    top: calc(50% - 250px / 2);
    top: -webkit-calc(50% - 250px / 2);
    top: -moz-calc(50% - 250px / 2);
    width: 338px;
    box-sizing: border-box;
}

.x-company-logo {
    color: #fff;
    font-size: 50px;
    margin-bottom: 4px;
}

.x-login-box-error {
    -ms-opacity: .88;
    background-color: #DD4B39;
    color: #fff;
    margin-top: 4px;
    opacity: .88;
    padding: 8px;
}
