<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Discounts</string>
	<key>CFBundleName</key>
	<string>Discounts</string>
	<key>CFBundleIdentifier</key>
	<string>com.sciencesoft.discounts</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.2</string>
	<key>CFBundleVersion</key>
	<string>1.7.2</string>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Your current location will be displayed on the map and used for calculating the distance to discount partners.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for calculating the distance to discount partners.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Your current location will be displayed on the map and used for calculating the distance to discount partners.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The app is not using your calendar. However, the permission is required by Xamarin Permissions Plugin, used in the app.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sciencesofthealth</string>
		<string>itms-apps</string>
		<string>fb</string>
		<string>gplus</string>
		<string>instagram</string>
		<string>gplus</string>
		<string>odnoklassniki</string>
		<string>twitter</string>
		<string>vk</string>
		<string>youtube</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.google.fcm</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DiscountIcons.ttf</string>
	</array>
</dict>
</plist>
