<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="2.1.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Compass" version="3.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.FirebasePushNotification" version="2.3.6" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="Polly" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Refit" version="4.7.51" targetFramework="xamarinios10" />
  <package id="ScnSideMenu.Forms" version="1.5.2" targetFramework="xamarinios10" />
  <package id="ScnTitleBar.Forms" version="1.2.0" targetFramework="xamarinios10" />
  <package id="ScnViewGestures.Forms" version="1.5.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.5.231" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.14" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.14" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.14" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="5.5.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudMessaging" version="3.1.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="5.2.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="3.4.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.2.0.709249" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="4.2.0.709249" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Maps" version="3.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.Maps.Utils" version="1.0.0" targetFramework="xamarinios10" />
</packages>