@import "../../shared/shared-styles";
@import "../../partner/partner-details/partner-details.component.css";

.x-item {
  .x-item-button;
  background-color: #2665dd;
  &:hover {
    background-color: #73cdff;
  }
}

.modal-content-x{
  width: 655px;
  padding: 1rem;
}

.modal-footer-x {
  padding: 0rem;
}

.x-form-title {
  border-bottom: 1px solid #EBEBEB;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 18px 0 3px;
  position: relative;
  text-transform: uppercase;
}

.x-form-action-btn {
  float: right;
}

.x-modal-body{
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  padding-top: 3px;
  padding-bottom: 0px;
  width: 623px;
}

