<div class="x-content">
  <label class="x-form-side-label">{{'partner.Files' | translate}}</label>
  <label for="uxFormAvatarUpload" class="x-form-action-btn x-form-file-upload">{{'partner.ChooseTheme' | translate}}</label>
  <input type="file" name="uxFormAvatarUpload" accept="image/*" (change)="onClickedChangeImage($event)" id="uxFormAvatarUpload">
  <label for="uxFormThemeUpload" class="x-form-action-btn x-form-file-upload">{{'partner.ChooseAvatar' | translate}}</label>
  <input type="file" name="uxFormThemeUpload" accept="image/*" (change)="onClickedChangeLogo($event)" id="uxFormThemeUpload">
  <div class="div-clear"></div>
  <div class="x-item-image" [ngStyle]=getImageStyle()></div>
  <div class="x-item-logo" [ngStyle]=getLogoStyle()></div>
  <div class="div-clear"></div>
  <div class="x-form-hint">
    {{'partner.Hint' | translate}}
  </div>
</div>
