<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="MongodbConnectionString" value="mongodb://localhost:27018/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MongodbName" value="SCNDISC_PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultUserName" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="web-api:url" value="https://localhost/SCNDISC.Server" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <authentication>
      <forms name="scndisc_cookie" xdt:Transform="SetAttributes(name)" />
    </authentication>
    <sessionState cookieName="scndisc_sessionid" xdt:Transform="SetAttributes(cookieName)" />
  </system.web>
</configuration>