
<div class="x-form-item ">
  <label class="x-form-side-label">{{'partner.PhoneNumber' | translate}}</label>
  <input type="text" [(ngModel)]="contact.phoneNumber1" maxlength="25" class="x-form-phone"><span class="x-form-number-1">1</span>
  <span class="x-form-number-2">2</span><input type="text" [(ngModel)]="contact.phoneNumber2" maxlength="25" class="x-form-phone">
  <div class="div-clear"></div>
</div>
<div class="x-form-item ">
  <label class="x-form-side-label">{{'partner.Address' | translate}}</label>
  <input *ngIf="language_en" type="text" [(ngModel)]="contact.address_En" maxlength="50" class="x-form-address">
  <input *ngIf="!language_en" type="text" [(ngModel)]="contact.address_Ru" maxlength="50" class="x-form-address">
  <input type="button" title="{{'partner.GetCoordinates' | translate}}" (click)="onClickedGetCoordinates()" class="x-form-action-btn x-gps-btn" value="&nbsp;">
  <input type="text" [(ngModel)]="contact.coordinates" class="x-form-coordinates" placeholder="00.000000, 00.000000">
  <input type="button" title="{{'partner.Coordinates' | translate}}" (click)="onClickedOpenMap()" value="&nbsp;" class="x-form-action-btn x-form-open-map-btn">

  <div class="div-clear"></div>
  <div class="x-form-error-ct">
    <div *ngIf="errorCoordinates">{{'partner.errorCoordinates' | translate}}</div>
    <div *ngIf="errorAddress">{{'partner.ErrorAddressForContact' | translate}}</div>
  </div>
</div>
